<!doctype html>
<html>
  <head>
    <title>FLASK CSV File Upload</title>
  </head>
  <body>
    <h1>Upload your CSV file</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="submit" name="field" value="Top 4 teams which elected to field first after winning toss in 2016 and 2017."></p>
      <p><input type="submit" name="venue" value=" Top 4 venues where the team which batted first and won"></p>
      <p><input type="submit" name="player_of_match" value="Player with most player of the match award"></p>
    </form>
  </body>
</html>